[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==7.1.1"
flake8-bandit = "==4.1.1"
flake8-bugbear = "==24.12.12"
pep8-naming = "==0.14.1"
pytest = "==8.3.4"
pytest-cov = "==6.0.0"

[packages]
python-can = "==4.5.0"
pyyaml = "==6.0.2"
mysql-connector-python = "==9.2.0"
python-dotenv = "==1.0.1"

[requires]
python_version = "3.13"

[scripts]
lint = "flake8"
start = "python3 -m sepicker"
test = "pytest"
